.diagram-parent {
    height        : 600px;
    border        : solid 3px #EEE;
    position      : relative;
    display       : flex;
    flex-direction: column;
    margin-bottom : 1rem;
}

.diagram-parent > app-diagram {
    flex      : 1 1 auto;
    min-height: 0;
}

.import-error {
    color  : red;
    padding: 20px;

    position: absolute;
    top     : 0;
    left    : 0;
}
